{% extends 'EricClemmonsSiteBundle::layout.html.twig' %}


{% block content %}
<h2>Posts</h2>

<ol>
{% for post in posts %}
    <li>
        <strong>
            <a href="{{ post.url }}" title="post.title">
                {{- post.title -}}
            </a>
        </strong>

        <date>
            {{- post.dateCreated | date('F jS, Y') -}}
        </date>
    </li>
{% endfor %}
</ol>
{% endblock content %}
