{% extends 'EricClemmonsSiteBundle::layout.html.twig' %}


{% block title %}
Posts
{% endblock title %}


{% block content %}
{% for post in posts %}
    <article>
        <h3>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>

        <date>
            {{ post.dateCreated | date('F jS, Y') }}
        </date>
    </article>
{% endfor %}
{% endblock content %}
