{% for article in articles %}
    <article>
        <h3>
            <a href="{{ path('ericclemmons_site_article_view', { 'article': article.slug }) }}">
                {{ article.title }}
            </a>
        </h3>

        <date>
            {{ article.dateCreated | date('F jS, Y') }}
        </date>
    </article>
{% endfor %}
