<!DOCTYPE html>
<html lang="en">

    {% block head -%}
    <head>

        {% block head_meta -%}
        <meta charset="utf-8">
        <meta name="author" content="Eric Clemmons">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head_meta %}

        {% block head_title -%}
        <title>
            {%- block title %}Eric Clemmons - Official Site{% endblock title -%}
        </title>
        {% endblock head_title %}

        {% block head_stylesheets -%}
        {% block stylesheets -%}
        {% stylesheets filter='less,cssrewrite,?yui_css'
            "bundles/ericclemmonssite/bootstrap/less/bootstrap.less"
            "bundles/ericclemmonssite/less/layout.less"
        -%}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        {% endblock stylesheets %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock head_stylesheets %}

    </head>
    {% endblock head %}

    {% block body -%}
    <body>

        {% block container -%}
        <div id="container">

            <section id="sidebar">

                <header id="header">
                    <h1>Eric Clemmons</h1>

                    <aside>
                        {% render 'EricClemmonsSiteBundle:Page:view' with { 'page': 'about'} %}
                    </aside>
                </header>

                <footer id="footer">
                    <p>&copy; Eric Clemmons 2012</p>
                </footer>

            </section>

            <nav id="nav">
                <menu class="nav nav-pills">
                    <li class="active"><a>Latest Activity</a></li>
                    <li><a>Articles</a></li>
                    <li><a>Projects</a></li>
                </menu>
            </nav>

            <section id="content">
                {% block content -%}{% endblock content %}
            </section>

        </div>
        {% endblock container %}

        {% block javascripts -%}
        {%- javascripts
          'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-transition.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-modal.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-scrollspy.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-tab.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-popover.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-alert.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-button.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-collapse.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-carousel.js'
          '@EricClemmonsSiteBundle/Resources/public/bootstrap/js/bootstrap-typeahead.js'
          filter="?yui_js"
        -%}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripts %}

    </body>
    {% endblock body %}

</html>
