<!DOCTYPE html>
<html lang="en">

    {% block head -%}
    <head>

        {% block head_meta -%}
        <meta charset="utf-8">
        <meta name="author" content="Eric Clemmons">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head_meta %}

        {% block head_title -%}
        <title>
            {% block title %}Official Site{% endblock title %} - Eric Clemmons
        </title>
        {% endblock head_title %}

        {% block head_stylesheets -%}
            {% block stylesheets -%}
            {% stylesheets filter='less,cssrewrite,?yui_css' output='cache/*.css'
                "bundles/ericclemmonssite/bootstrap/less/bootstrap.less"
                "bundles/ericclemmonssite/less/layout.less"
                "bundles/ericclemmonssite/prettify/prettify.css"
            -%}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            {% endblock stylesheets %}
        {% endblock head_stylesheets %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    {% endblock head %}

    {% block body -%}
    <body>

        {% block container -%}
        <div id="container">

            <section id="sidebar">

                <header id="header">
                    <h1>Eric Clemmons</h1>

                    <aside>
                        {% render 'EricClemmonsSiteBundle:Page:view' with { 'slug': 'about'} %}
                    </aside>
                </header>

                <footer id="footer">
                    <p>&copy; Eric Clemmons 2012</p>
                </footer>

            </section>

            <section id="content">
                <h1>
                    {{- block('title') -}}

                    {% if block('date') %}
                    <small class="pull-right">
                        <date>{{ block('date') }}</date>
                    </small>
                    {% endif %}
                </h1>

                {% block content -%}{% endblock content %}
            </section>

        </div>
        {% endblock container %}

        {% block javascripts -%}
        {%- javascripts filter="?yui_js" output='cache/*.js'
          'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
          '@EricClemmonsSiteBundle/Resources/public/prettify/prettify.js'
        -%}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripts %}

        <script type="text/javascript">
            prettyPrint();
        </script>
    </body>
    {% endblock body %}

</html>
