<article>
  <h2>{{ article.title }}
    <small>{{ article.created_at | date:'MMM dd, y' }}</small>
  </h2>

  <hr>

  <div ng-bind-html-unsafe="article.body_html"></div>

  <hr>

  <h3>{{ article.comments }} Comments</h3>

  <hr>

  <aside ng-repeat="comment in comments">
    <div class="row-fluid">
      <div class="span2">
        <img ng-src="{{ comment.user.avatar_url }}" class="img-circle">
      </div>
      <div class="span10 well well-small">
        <aside ng-bind-html-unsafe="comment.body_html"></aside>
      </div>
    </div>
  </aside>
</article>
