<header class="media">
  <h1>
    <a href="/">Eric Clemmons</a>
  </h1>

  <hr>

  <p class="pull-left">
    <img src="http://www.gravatar.com/avatar/b6ffb4f3fe821e31f69923630dfdebc5.png?s=100" alt="Eric Clemmons' Profile Picture" class="img-polaroid">
  </p>

  <p>
    <strong>Howdy</strong>!
    I'm a Father &amp; Husband from Houston, TX who enjoys development architecture,
    UX best-practices and coordinating complex projects.
  </p>

  <p>
    I'm the
    <a href="http://www.linkedin.com/in/ericclemmons" title="Eric Clemmons' LinkedIn Profile">VP of Software Development</a>
    at <a href="http://www.cmn.com/about-us/" title="CMN Website">CMN.com</a>
    and a contributor to several
    <a href="https://github.com/ericclemmons" title="Eric Clemmons' Github Profile">open-source projects</a>, including
    <a href="http://gruntjs.com/">Grunt</a>,
    <a href="http://symfony.com/">Symfony2</a>,
    &amp;
    <a href="http://www.doctrine-project.org/">Doctrine2</a>.
  </p>

  <hr>

  <div class="text-center">
    <div class="btn-group">
      <a class="btn" href="https://github.com/ericclemmons"><i class="icon-github-alt"></i></a>
      <a class="btn" href="https://twitter.com/ericclemmons"><i class="icon-twitter"></i></a>
      <a class="btn" href="http://www.linkedin.com/in/ericclemmons"><i class="icon-linkedin"></i></a>
      <a class="btn" href="https://www.facebook.com/ericclemmons"><i class="icon-facebook"></i></a>
    </div>
  </div>
</header>

<footer class="muted text-center">
  <p>
    &copy; 2013 Eric Clemmons
  </p>
</footer>
