<div class="sidebar_header">
  <div class="sidebar_title">
    <h4>About Me</h4>
  </div>
</div>
<hr class="feed_hr">
<div class="media sidebar_interior">
  <p class="pull-left">
    <img src="http://www.gravatar.com/avatar/b6ffb4f3fe821e31f69923630dfdebc5.png?s=100" alt="Eric Clemmons' Profile Picture" class="img-polaroid">
  </p>

  <p>
    <strong>Howdy</strong>!
    I'm a Father &amp; Husband from Houston, TX who enjoys development architecture,
    UX best-practices and coordinating complex projects.
  </p>

  <p>
    I'm the
    <a href="http://www.linkedin.com/in/ericclemmons" title="Eric Clemmons' LinkedIn Profile">VP of Software Development</a>
    at <a href="http://www.cmn.com/about-us/" title="CMN Website">CMN.com</a>
    and a contributor to several
    <a href="https://github.com/ericclemmons" title="Eric Clemmons' Github Profile">open-source projects</a>, including
    <a href="https://github.com/symfony/symfony">Symfony2</a>
    &amp;
    <a href="https://github.com/doctrine/doctrine2">Doctrine2</a>.
  </p>
</div>
