/**
 * Bootstrap
 */

@import "../../../components/bootstrap/less/variables.less";

@iconSpritePath:          "/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/img/glyphicons-halflings-white.png";

/**
 * Angular
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/**
 * App
 */

@import "date.less";

.navbar-static-top {
    margin-bottom: @baseLineHeight;
}

.corgi_copyright {
    float: none;
    text-align: center;
}
