{% extends 'EricClemmonsSiteBundle::layout.html.twig' %}


{% block title %}
Pages
{% endblock title %}


{% block content %}
{% for page in pages %}
<article>
    <h3>
        <a href="{{ path('ericclemmons_site_page_view', { 'page': page.slug }) }}">
            {{ page.title }}
        </a>
    </h3>

    <date>
        {{ page.dateCreated | date('F jS, Y') }}
    </date>
</article>
{% endfor %}
{% endblock content %}
