@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";
@import url("http://fonts.googleapis.com/css?family=Merriweather:300,700");

.background-cover {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.makeColumn(@columns: 1, @offset: 0) {
    float: left;
    margin-left: (@gridColumnWidth * @offset) + (@gridGutterWidth * (@offset - 1)) + (@gridGutterWidth * 2);
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    padding: (@gridColumnWidth);
}

html,
body {
    width: 100%;
    height: 100%;
    background: transparent;
}

html {
    background: #9aabc4 url("../images/sands-of-time.jpg") no-repeat center center fixed;
    .background-cover;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

h1, h2, h3, h4 {
    font-weight: 300;

    color: @headingsColor;

    small {
        color: #666;
    }

    code {
        font-size: inherit;
    }
}

strong {
    font-weight: 300;
}

body, p {
    font-family: 'Merriweather', serif;
}

ul {
    list-style-type: circle;
}

img {
    border-radius: 5px;
}

pre {
    margin: (@baseLineHeight) 0;
}

#container {
    background: rgba(255, 255, 255, 0.25);
    min-height: 100%;
}


#sidebar {
    .makeColumn(3);

    margin: 0;
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #efe9e7;

    a {
        color: #9aabc4;

        &:hover {
            color: #d2d8e8;
        }
    }

    header {
        h1 {
            white-space: nowrap;
        }

        h2 {
            display: none;
        }

        h3 {
            padding: (@gridColumnWidth / 2) 0;
        }

        aside {
            img {
                float: left;
                margin: 0 (@gridGutterWidth / 2) 0 0;
            }
        }
    }
}

#nav {
    position: absolute;
    right: @gridColumnWidth;
}

#content {
    margin-left: (@gridColumnWidth * 4) + (@gridGutterWidth * 3) + (@gridGutterWidth * 2);
    padding: (@gridColumnWidth);
    min-width: @gridColumnWidth * 4;

    & > h1 {
        padding-bottom: @gridColumnWidth;
    }

    & > h2 {
        color: #fff;
    }

    & > article,
    & > ul,
    & > ol {
        .clearfix();

        background: #fff;
        padding: (@gridGutterWidth * 2);
        border-radius: (@gridGutterWidth / 4);
        box-shadow: 0 (@gridGutterWidth / 3) @gridGutterWidth rgba(0, 0, 0, 0.25);

        date {
            float: right;
            font-style: italic;
        }

        strong {
            float: left;
            font-size: 18px;
            line-height: @baseLineHeight * 1.5;

            small {
                font-size: 14px;
            }
        }
    }

    article {
        h1 {
            display: none;
        }

        h2, h3 {
            margin: @baseLineHeight 0;
        }

        date {
            line-height: 36px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }

    & > ol,
    & > ul {
        margin-left: 0;
        margin-right: 0;

        date {
            line-height: 27px;
        }

        li {
            .clearfix();

            list-style-type: none;
        }
    }
}

#footer {
    position: absolute;
    bottom: @gridColumnWidth * 2;
    opacity: 0.8;
}
